In [35]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
import datetime, math

In [36]:
start = dt.datetime(2015, 1, 1)
end = dt.datetime(2017, 11, 26)

In [37]:
df = web.DataReader('NFLX', "yahoo", start, end)

In [38]:
df.reset_index(level=0, inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 7 columns):
Date         731 non-null datetime64[ns]
Open         731 non-null float64
High         731 non-null float64
Low          731 non-null float64
Close        731 non-null float64
Adj Close    731 non-null float64
Volume       731 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 40.0 KB

## Time Features

In [40]:
df.Date= pd.to_datetime(df.Date, errors='coerce')

In [41]:
def add_datepart(df):
    df.date = pd.to_datetime(df.Date)
    df["Year"] = df.Date.dt.year
    df["Month"] = df.Date.dt.month
    df["Week"] = df.Date.dt.week
    df["Day"] = df.Date.dt.day

In [42]:
add_datepart(df)

C:\Users\kevin.wong\AppData\Local\Continuum\anaconda3\envs\py27_keras1_theano\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [43]:
df['DayOfWeek'] = df['Date'].dt.dayofweek + 1

In [44]:
df=df.sort_values(by='Date')

## Technical Indicators

* MACD: Moving Average Convergence/Divergence oscillator (MACD), for momentum indicators
* RSI: Oscillators help identify overbought and oversold markets
* ADX indicator: helps determine whether a market is in a trending or a trading phase. It measures the degree of trend or direction in the market
* Average True Range: measure of volatility
* Exponential moving average

In [45]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Week,Day,DayOfWeek
0,2015-01-02,49.151428,50.331429,48.731430,49.848572,49.848572,1925000,2015,1,1,2,5
1,2015-01-05,49.258572,49.258572,47.147144,47.311428,47.311428,2595000,2015,1,2,5,1
2,2015-01-06,47.347141,47.639999,45.661430,46.501427,46.501427,2291100,2015,1,2,6,2
3,2015-01-07,47.347141,47.421429,46.271427,46.742859,46.742859,1407100,2015,1,2,7,3
4,2015-01-08,47.119999,47.835712,46.478573,47.779999,47.779999,1371700,2015,1,2,8,4

In [46]:
import talib

In [47]:
df[['macd', 'macdsignal', 'macdhist']] = pd.DataFrame.from_records(zip(*talib.MACD(df.Close.values, fastperiod=12, slowperiod=26, signalperiod=9)))

In [48]:
df['RSI'] = talib.RSI(df.Close.values, timeperiod=14)

In [49]:
df['ADX'] = talib.ADX(df.High.values, df.Low.values, df.Close.values, timeperiod=14)

In [50]:
df['ATR'] = talib.ATR(df.High.values, df.Low.values, df.Close.values, timeperiod=14)

In [51]:
df['EMA_30'] = talib.EMA(df.Close.values, timeperiod=30)

In [88]:
df.to_csv('C:/Users/kevin.wong/Downloads/nflx_technicals.csv')