In [69]:
import pandas as pd, datetime, math

In [70]:
nflx = pd.read_csv('C:/Users/kevin.wong/Downloads/nflx (11).csv')

In [71]:
df=nflx

In [72]:
df.head()

         Date    Open    High     Low   Close   Volume
0  11/17/2017  195.74  195.95  192.65  193.20  3906333
1  11/16/2017  194.33  197.70  193.75  195.51  5678355
2  11/15/2017  194.54  195.42  191.53  192.12  4203072
3  11/14/2017  193.64  195.88  193.00  195.71  3450513
4  11/13/2017  191.12  196.05  191.00  195.08  4606951

## Time Features

In [73]:
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%m/%d/%Y')

In [74]:
df.Date= pd.to_datetime(df.Date, errors='coerce')

In [75]:
def add_datepart(df):
    df.date = pd.to_datetime(df.Date)
    df["Year"] = df.Date.dt.year
    df["Month"] = df.Date.dt.month
    df["Week"] = df.Date.dt.week
    df["Day"] = df.Date.dt.day

In [76]:
add_datepart(df)

C:\Users\kevin.wong\AppData\Local\Continuum\anaconda3\envs\py27_keras1_theano\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [77]:
df['DayOfWeek'] = df['Date'].dt.dayofweek + 1

In [78]:
df=df.sort_values(by='Date')

## Technical Indicators

* MACD: Moving Average Convergence/Divergence oscillator (MACD), for momentum indicators
* RSI: Oscillators help identify overbought and oversold markets
* ADX indicator: helps determine whether a market is in a trending or a trading phase. It measures the degree of trend or direction in the market
* Average True Range: measure of volatility
* Exponential moving average

In [79]:
df.head()

,Date,Open,High,Low,Close,Volume,Year,Month,Week,Day,DayOfWeek
501,2015-11-23,124.30,126.20,121.66,125.03,15670283,2015,11,48,23,1
500,2015-11-24,123.97,124.66,120.03,123.31,18317565,2015,11,48,24,2
499,2015-11-25,124.23,125.20,122.36,124.16,10980677,2015,11,48,25,3
498,2015-11-27,123.85,126.39,123.59,125.44,6644280,2015,11,48,27,5
497,2015-11-30,126.03,126.60,122.89,123.33,13718932,2015,11,49,30,1

In [80]:
import talib

In [81]:
df[['macd', 'macdsignal', 'macdhist']] = pd.DataFrame.from_records(zip(*talib.MACD(df.Close.values, fastperiod=12, slowperiod=26, signalperiod=9)))

In [82]:
df['RSI'] = talib.RSI(df.Close.values, timeperiod=14)

In [83]:
df['ADX'] = talib.ADX(df.High.values, df.Low.values, df.Close.values, timeperiod=14)

In [84]:
df['ATR'] = talib.ATR(df.High.values, df.Low.values, df.Close.values, timeperiod=14)

In [85]:
df['EMA_30'] = talib.EMA(df.Close.values, timeperiod=30)

In [88]:
df.to_csv('C:/Users/kevin.wong/Downloads/nflx_technicals.csv')